
.icon-brush-2:before { content: '\e800'; } /* '' */
.icon-brush-3:before { content: '\e801'; } /* '' */
.icon-brush-4:before { content: '\f08e'; } /* '' */
.icon-brush-1:before { content: '\f096'; } /* '' */